<h2 class="text-center">{{nombre}} <span class="small">{{#link-to 'receta.edit'}}Editar{{/link-to}}</span> </h2>
<p class="text-center"><img  /></p>
<p>{{descripcion}}</p>
<p>Tiempo de preparacion: {{tiempoPrep}}</p>
<p>Rendimiento: {{rendimiento}}</p>
<p>Ingredentes: {{ingredientes}}</p>
<p>Preaparacion: {{preparacion}}</p>
