<h2 class="text-center">{{nombre}} <span class="small">{{#link-to 'receta.edit'}}Editar{{/link-to}}</span> </h2>
	{{#each imagen in imagenes}}
		<p class="text-center"><img class="th text-ceter" {{bind-attr src="imagen.url"}} /></p>
	{{/each}}
<p><strong>Ingredentes:</strong></p>
<p><pre>{{ingredientes}}</pre></p>
<p><strong>Rendimiento:</strong> {{rendimiento}}</p>
<p><strong>Preaparacion:</strong></p>
<p>{{preparacion}}</p>
<p><strong>Tiempo de preparacion:</strong> {{tiempoPrep}} minutos</p>
<p><strong>Categorias:</strong></p>
<ul>
	{{#each categoria in categorias}}
		<li>{{categoria.nombre}}</li>
	{{/each}}
</ul>
