<form class="receta-edit">
	<div class="row">
		<div class="small-12 columns">
			{{input value=nombre class="nombre"}}
		</div>
	</div>
	<div class="row">
		<div class="small-12 columns">
			{{input value=imagen}}
		</div>
	</div>
	<div class="row">
		<div class="small-12 columns">
			{{input value=descripcion}}
		</div>
	</div>
	<div class="row">
		<div class="small-12 columns">
			{{input value=tiempoPrep}}
		</div>
	</div>
	<div class="row">
		<div class="small-12 columns">
			{{input value=rendimiento}}
		</div>
	</div>
	<div class="row">
		<div class="small-12 columns">
			{{textarea value=ingredientes rows=5}}
		</div>
	</div>
	<div class="row">
		<div class="small-12 columns">
			{{textarea value=preparacion rows=6}}
		</div>
	</div>
</form>
